* {
  font-family: monospace;
  box-sizing: border-box;
  transition: all 0.12s ease-out;
}

body {
  background-color: #222;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.input-row {
  color: white;
  display: flex;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

label {
  padding-right: 10px;
  font-weight: bolder;
}

label:hover {
  cursor: text;
}

#link {
  border-radius: 7.5px;
  width: 45%;
  margin-right: 12px;
  font-size: x-large;
  text-align: center;
  background-color: #6e6e6e;
  border-color: #6e6e6e;
  color: rgb(193, 221, 214);
  outline: none;
}

#link:focus {
  border-color: #6e6e6e;
}

.submission-button {
  align-items: center;
  appearance: none;
  background-color: #8c8a8a;
  border-radius: 8px;
  border-width: 0;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 16px;
  font-weight: bolder;
}

.submission-button:focus {
  box-shadow: #8c8a8a 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #8c8a8a 0 -3px 0 inset;
}

.submission-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #8c8a8a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submission-button:active {
  box-shadow: #8c8a8a 0 3px 7px inset;
  transform: translateY(2px);
}

.download-editor {
  border-radius: 15px;
  background-color: #8c8a8a;
  width: 1025px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.clear-button {
  border-radius: 7px;
  background-color: #8c8a8a;
  border: none;
}

.clear-button img {
  height: 20px;
  width: 20px;
  background-color: #8c8a8a;
}

.clear-button:hover {
  cursor: pointer;
}

.download-button img {
  height: 20px;
  width: 20px;
  background-color: #8c8a8a;
}

.download-button {
  border-radius: 7px;
  background-color: #8c8a8a;
  border: none;
  margin-right: 10px;
}

.download-button:hover {
  cursor: pointer;
}

.editor-header-row {
  display: flex;
  padding-top: 5px;
  padding-bottom: 4px;
  justify-content: space-between;
  align-items: center;
}

.editor-header-row-text {
  font-size: large;
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.editor {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: monospace;
}
